
body {
  font-family: roboto, sans-serif;

}

#main-container {
  background-color: #fff;
}

.container {
  width: 100%; /* override skeleton's margins on small screens */
  padding: 0;
}

@media (min-width: 550px) {
  body {
    background: #f5f5f5;
    padding: 30px;
  }

  #main-container {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }
}

.content {
  padding: 30px;
}

.title-block {
  padding-left: 15px;

  font-weight: 600;
  font-size: 45px;
  color: #fff;
  background-color: #348ce3;
}

.breadcrumb-block {
  padding-left: 30px;

  /*font-weight: 600;*/
  font-size: 20px;
  color: #000;
  background-color: #e6e6e6;
}

.project-card {
  background-color: #e6e6e6;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  margin-bottom: 15px;
}

.img-thumbnail {
  max-width: 100%;
}

.title-logo {
  display: none; /* hide on mobile */
}

@media (min-width: 550px) {
  .title-logo {
    max-height: 1em;
    vertical-align: middle;

    display: inline-block;
  }
}

.title-text {
  vertical-align: middle;
}
