
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="portfolio and compendium of projects">
    <meta name="author" content="ian dunn">

  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href="{{ "favicon.ico" | relative_url }}">

  <link href="//fonts.googleapis.com/css?family=Roboto:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ "css/normalize.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "css/skeleton.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "css/custom.css" | relative_url }}">

</head>
<body>
  <div class="container" id="main-container">
    <div class="title-block" style="background-color: {{ page.override_color | default: "#348ce3" }}">
      <img class="title-logo" src="{{ "img/logo.png" | relative_url }}" />
      <span class="title-text">{{ page.title }}</span>
    </div>

{% unless page.skip_breadcrumb %}
    <div class="breadcrumb-block"><a style="color: {{ page.override_color | default: "#348ce3" }}" href="{{ "/" | relative_url }}">&larr; Home</a></div>
{% endunless %}

<div class="content">

  {{ content }}

</div>

  </div>
</body>
</html>
