
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="portfolio and compendium of projects">
    <meta name="author" content="ian dunn">

  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href="{{ "favicon.ico" | prepend: site.baseurl }}">

  <link href="//fonts.googleapis.com/css?family=Roboto:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ baseurl }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ baseurl }}/css/custom.css">

</head>
<body>
  <div class="container" id="main-container">
    <div class="title-block">{{ page.title }}</div>

{% unless page.skip_breadcrumb %}
    <div class="breadcrumb-block"><a href="{{ baseurl }}/">&larr; Home</a></div>
{% endunless %}

<div class="content">

  {{ content }}

</div>

  </div>
</body>
</html>
